<!DOCTYPE html>
<html>
  <head>
    <title> </title>
  
  </head>
  <body>
    <h1> </h1>
    <p>Welcome to  calculator</p>
    <form method="post" action="/">
    <input type="text" name="p" id="para1"></input>
    <input type="text" name="operator" id="operator"></input>
    <input type="text" name="para2" id="para2>"></input>
    <input type="submit" value="calculate">
    <%= result %>
    </form>
  </body>
</html>
